body
{
	background-image:url("1.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
h1
{
	font-family:"Imprint MT Shadow",Times,serif;
	font-weight:bold;
	font-size:55;
	color:gold;
}
p
{
	font-weight:bold;
	font-size:25;
	color:gold;
}
label
{
	font-family:"Century",Times,serif;
	font-weight:bold;
	font-size:15;
	color:gold;
}
	